
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model NEPATechDotnetCoreMVC.ViewModel.MembersViewModel

<div class="inner">
    @Html.Partial("_HeaderPartial", null)
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="searchWrapper">
                        <form>
                            <div class="form-group" id="customSearchFormGroup">
                                <input id="searchCustom" class="form-control-sm" type="text" name="searchText" value="Search members..." onfocus="if (this.value=='Search members...') this.value='';" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="memberList">

                        @*The following snippit wiil be the base layout for each member profile.*@

                        @{  var last = Model.Members.Profile.LastOrDefault(); }
                        @foreach (var member in Model.Members.Profile)
                        {
                            <div class="memberProfileBlock">
                                <div class="row">
                                    <img src="~/images/pic01.jpg" width="75" height="75" />
                                    <div class="col-sm-4 col-md-8 col-lg-10">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="">@Html.ActionLink(member.FirstName + " " + member.LastName, "Details", new { id = member.Id })</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p><b>Last Active: </b>@member.LastActive</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    @{
                                                        if(member.Biography.Length > 250)
                                                        {
                                                            @member.Biography.Substring(0, 250)<text>...</text>
                                                        }
                                                        else
                                                        {
                                                            @member.Biography

                                                        }
                                                    }
                                                    <br />
                                                    @Html.ActionLink("View Profile", "Details", new { id = member.Id})
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (!member.Equals(last))
                                    {   
                                        <div class="memberBorderBottom"></div>
                                    }
                                </div>
                            </div>


                        }


                        @* END OF TEMPLATE *@

                    </div>

                    @* Pager *@

                    @if (Model.Pager.EndPage > 1)
                    {
                        <div class="row">
                            <div class="col">
                                <ul class="pagination" aria-label="Members pages">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @Html.ActionLink("First", "Index", null, null, new { @class = "page-link" })
                                        </li">

                                        <li class="page-item">
                                            @Html.ActionLink("Previous", "Index", null, new { page=Model.Pager.PreviousPage}, new { @class = "page-link" })
                                        </li">
                                    }
                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                        @Html.ActionLink(page+"","Index",null,new { page }, new {@class = "page-link" })
                                        </li">

                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {

                                        <li class="page-item">
                                            @*<a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.CurrentPage+1)">Next</a>*@
                                            @Html.ActionLink("Next","Index",null,new { page=Model.Pager.NextPage }, new {@class = "page-link" })
                                            </li">
                                        <li class="page-item">
                                            @*<a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.TotalPages)">Last</a>*@
                                            @Html.ActionLink("Last", "Index", null, new { page=Model.Pager.TotalPages }, new { @class = "page-link" })
                                        </li">

                                        }

</ul>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

