
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model NEPATechDotnetCoreMVC.ViewModel.MembersViewModel

<div class="inner">
    @Html.Partial("_HeaderPartial", null)
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="searchWrapper">
                        <form>
                            <input id="searchCustom" type="text" name="searchText" value="Search members..." onfocus="if (this.value=='Search members...') this.value='';" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="memberList">

                        @*The following snippit wiil be the base layout for each member profile.*@

                        @{  var last = Model.Members.Last(); }
                        @foreach (var members in Model.Members)
                        {
                            <div class="memberProfileBlock">
                                <div class="row">
                                    <img src="~/images/pic01.jpg" width="75" height="75" />
                                    <div class="col-sm-4 col-md-8 col-lg-10">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="">@Html.ActionLink(members.Member.FName + " " + members.Member.LName, "Details")</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p><b>Last Active: </b>@members.Profile.LastActive.ToShortDateString()</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    @{
                                                        if(members.Profile.Biography.Length > 250)
                                                        {
                                                            @members.Profile.Biography.Substring(0, 250)<text>...</text>
                                                        }
                                                        else
                                                        {
                                                            @members.Profile.Biography

                                                        }
                                                    }
                                                    <br />
                                                    @Html.ActionLink("View Profile", "Details", new { id = members.Member.UserId })
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (!members.Equals(last))
                                    {   
                                        <div class="memberBorderBottom"></div>
                                    }
                                </div>
                            </div>


                        }


                        @* END OF TEMPLATE *@

                    </div>

                    @* Pager *@

                    @if (Model.Pager.EndPage > 1)
                    {
                        <div class="row">
                            <div class="col">
                                <ul class="pagination" aria-label="Members pages">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-area="" asp-controller="Members" asp-action="Index">First</a>
                                            </li">

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.CurrentPage-1)">Previous</a>
                                            </li">
                                        }
                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                        <a class="page-link" asp-controller="Members" asp-route-page="@(page)">@(page)</a>
                                        </li">

                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.CurrentPage+1)">Next</a>
                                            </li">
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                                            </li">

                                    }

                                </ul>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

