
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model NEPATechDotnetCoreMVC.ViewModel.MembersViewModel

<div class="inner">
    @Html.Partial("_HeaderPartial", null)
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="searchWrapper">
                        <form>
                            <input id="searchCustom" type="text" name="searchText" value="Search members..." onfocus="if (this.value=='Search members...') this.value='';" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="memberList">

                        @*The following snippit wiil be the base layout for each member profile.*@

                        @foreach (var members in Model.Members)
                        {
                           <div class="row">
                               <div class="col-sm-4 col-md-8 col-lg-12">
                                   <img src="~/images/pic01.jpg" width="75" height="75"/>
                                   <div class="row">
                                       <div class="col-sm-4 col-md-8 col-lg-12">
                                            <h6>@Html.ActionLink(string.Format("{0} {1}",members.Member.FName,members.Member.LName),"MEMBERNAME")</h6>

                                       </div>
                                       <div class="ccol-sm-4 col-md-8 col-lg-12">
                                           <span><b>Last Active: @members.Profile.LastActive</b></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-4 col-md-8 col-lg-12">
                                   <p class="memberDescription">@members.Profile.Biography</p>
                               </div>
                           </div>

                        }


                        @* END OF TEMPLATE *@

                    </div>

                    @* Pager *@

                    @if (Model.Pager.EndPage > 1)
                    {
                        <div class="row">
                            <div class="col">
                                <ul class="pagination" aria-label="Members pages">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-area="" asp-controller="Members" asp-action="Index">First</a>
                                            </li">

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.CurrentPage-1)">Previous</a>
                                            </li">
                                        }
                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                        <a class="page-link" asp-controller="Members" asp-route-page="@(page)">@(page)</a>
                                        </li">

                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.CurrentPage+1)">Next</a>
                                            </li">
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Members" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                                            </li">

                                    }

                                </ul>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

